:root {
  /* --primary-color: #22254b;
  --secondary-color: #373b69; */
  --primary-color: #212529;
  --secondary-color: #111;
  --third-color: #7378c5;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search__input {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  font-size: 1rem;
  border-radius: 50px;
  color: #fff;
}

.search__input::placeholder {
  color: #7378c5;
}

.search__input:focus {
  outline: none;
  background-color: var(--primary-color);
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 50px;
}

.movie {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie__img {
  width: 100%;
}

.movie__info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.2rem;
  padding: 0.5rem 0.8rem;
  letter-spacing: 1.2px;
}

.movie__rating {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie__rating--green {
  color: #48cf48;
}

.movie__rating--orange {
  color: #f1ab29;
}

.movie__rating--red {
  color: #c04d4d;
}
.overview {
  background-color: #fff;
  padding: 0 0.5rem 1rem 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.overview__title {
  padding: 1rem 0;
}

.overview__button {
  background-color: var(--third-color);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
}

.pagination {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.pagination__current {
  padding: 0.3rem 1rem;
  border-radius: 50px;
  background-color: var(--third-color);
}

.pagination__current:hover {
  color: var(--secondary-color);
}

.pagination__page {
  border: 1px solid var(--third-color);
}

.pagination__page:hover {
  background-color: var(--third-color);
}

.pagination__page--prev {
  margin-right: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 25px 5px 5px 25px;
}

.pagination__page--next {
  border-radius: 5px 25px 25px 5px;
  margin-left: 0.5rem;
  padding: 0.3rem 1rem;
}

.pagination__page--disabled {
  color: #808080;
  background: none;
  cursor: not-allowed;
}
